/* line 1, ../scss/base-page.scss */
.main-align {
  background-color: transparent;
}
/* line 3, ../scss/base-page.scss */
.main-align.left {
  width: 188px;
  height: 50px;
}
/* line 7, ../scss/base-page.scss */
.main-align.right {
  width: 214px;
  height: 50px;
}

/* line 14, ../scss/base-page.scss */
.main.wrapper {
  text-align: center;
}
/* line 16, ../scss/base-page.scss */
.main.wrapper main {
  text-align: left;
  padding: 50px 15px 15px 15px;
  width: 575px;
}
<<<<<<< HEAD
/* line 20, ../scss/base-page.scss */
=======
/* line 21, ../scss/base-page.scss */
>>>>>>> pr/14
.main.wrapper main > .one.box {
  width: 560px;
  padding: 50px 15px 0px 0px;
  width: 575px;
}
/* line 26, ../scss/base-page.scss */
.main.wrapper main > .one.box > .one.box {
  width: 560px;
  /*p{
  	padding: 50px;
  	
  }*/
}
<<<<<<< HEAD
/* line 23, ../scss/base-page.scss */
.main.wrapper main > .two.box {
  width: 272.5px;
}
/* line 26, ../scss/base-page.scss */
.main.wrapper main > .three.box {
  width: 176.66667px;
}

/* line 32, ../scss/base-page.scss */
.box {
  padding: 0px;
  margin: 15px 15px 0px 0px;
=======
/* line 30, ../scss/base-page.scss */
.main.wrapper main > .one.box > .one.box input, .main.wrapper main > .one.box > .one.box select, .main.wrapper main > .one.box > .one.box textarea {
  display: block;
  margin: 4%;
}
/* line 34, ../scss/base-page.scss */
.main.wrapper main > .one.box > .one.box h1 {
  margin-left: 15px;
}
/* line 40, ../scss/base-page.scss */
.main.wrapper main > .one.box > .one.box .description {
  height: 200px;
}
/* line 43, ../scss/base-page.scss */
.main.wrapper main > .one.box > .one.box div, .main.wrapper main > .one.box > .one.box h2 {
  margin-left: 5%;
}
/* line 52, ../scss/base-page.scss */
.main.wrapper main > .one.box > .two.box {
  width: 272.5px;
}
/* line 56, ../scss/base-page.scss */
.main.wrapper main > .one.box > .three.box {
  width: 176.66667px;
}
/* line 65, ../scss/base-page.scss */
.main .box {
  margin: 15px 15px 20px 0px;
>>>>>>> pr/14
  background-color: #FFF;
  float: left;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
<<<<<<< HEAD
/* line 40, ../scss/base-page.scss */
.box img {
=======
/* line 76, ../scss/base-page.scss */
.main .projet {
>>>>>>> pr/14
  width: 100%;
  display: block;
  margin-top: 15px;
}
/* line 82, ../scss/base-page.scss */
.main h2 {
  background-color: #eaeaea;
  height: 20%;
  margin-bottom: 0px;
  width: 50%;
  position: relative;
  top: -80px;
  left: -20px;
  box-shadow: 3px 2px 10px -4px;
}
/* line 92, ../scss/base-page.scss */
.main .img_profil {
  width: 75px;
  height: 75px;
  margin-right: 6%;
}
/* line 97, ../scss/base-page.scss */
.main p {
  padding: 15px;
}
/* line 100, ../scss/base-page.scss */
.main .commentaire {
  margin: 0px;
}
/* line 103, ../scss/base-page.scss */
.main .commentaire, .main input, .main textarea {
  margin-left: 15px;
  position: relative;
  top: -40px;
}
