/* line 1, ../scss/base-full-size.scss */
#nav_secondaire {
  height: 250px;
  background-color: white;
  box-shadow: inset 0px 0px 10px 5px;
  position: fixed;
  top: 50px;
  padding: 1% 2% 0 2%;
  width: 100%;
}
/* line 11, ../scss/base-full-size.scss */
#nav_secondaire div {
  display: inline-table;
}
/* line 14, ../scss/base-full-size.scss */
#nav_secondaire .departement {
  margin-right: 5%;
}
/* line 16, ../scss/base-full-size.scss */
#nav_secondaire .departement p {
  width: 150px;
}

/* line 24, ../scss/base-full-size.scss */
.main.wrapper {
  text-align: center;
}
/* line 26, ../scss/base-full-size.scss */
.main.wrapper > main {
  text-align: left;
  padding: 50px 80px 0px 95px;
  overflow: hidden;
  height: 5000px;
}
/* line 31, ../scss/base-full-size.scss */
.main.wrapper > main > article {
  display: inline;
  float: left;
  text-align: left;
  width: 268px;
}

/* line 41, ../scss/base-full-size.scss */
.box {
  padding: 0px;
  margin: 15px 15px 0px 0px;
  background-color: #FFF;
  float: left;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
  transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}
/* line 54, ../scss/base-full-size.scss */
.box img {
  width: 100%;
}
/* line 57, ../scss/base-full-size.scss */
.box p {
  font-size: 14px;
}
/* line 60, ../scss/base-full-size.scss */
.box .author {
  font-size: 12px;
}
/* line 64, ../scss/base-full-size.scss */
.box .recherche {
  width: 50px;
  height: 50px;
}
/* line 69, ../scss/base-full-size.scss */
.box p, .box h1 {
  text-align: justify;
}
/* line 72, ../scss/base-full-size.scss */
.box .suite {
  padding: 0 0 0 15px;
}
/* line 74, ../scss/base-full-size.scss */
.box .suite a {
  color: #404040;
}

/* line 81, ../scss/base-full-size.scss */
.box:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
/* line 83, ../scss/base-full-size.scss */
.box:hover .suite {
  display: block;
}
/* line 85, ../scss/base-full-size.scss */
.box:hover .suite a {
  color: #FF5F00;
}
