@charset "UTF-8";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../scss/main.scss */
html {
  min-height: 100%;
}

/* line 25, ../scss/main.scss */
body {
  min-height: 100%;
  font-size: 1em;
  line-height: 1.4;
  background-color: #F4F4F4;
  color: #4F4F4F;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 40, ../scss/main.scss */
::-moz-selection {
  background: #C4C4C4;
  text-shadow: none;
}

/* line 45, ../scss/main.scss */
::selection {
  background: #C4C4C4;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 54, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 67, ../scss/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 75, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 85, ../scss/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 93, ../scss/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 104, ../scss/main.scss */
#gallery-home {
  height: 250px;
}

/*  ==========================================================================
    Navigation
    ========================================================================== */
/* line 22, ../scss/header.scss */
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100000;
  background: #00bce8;
  color: white;
  text-align: center;
  top: 0px;
  left: 0px;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 33, ../scss/header.scss */
header .btn.active {
  background-color: #0099cc;
}
/* line 36, ../scss/header.scss */
header nav {
  margin: 0 auto;
  font-size: 12px;
}

/* line 42, ../scss/header.scss */
.header-container {
  width: 100%;
  height: 50px;
  background: #00bce8;
  color: white;
}
/* line 47, ../scss/header.scss */
.header-container .search-container {
  width: 240px;
  height: 50px;
  padding-right: 15px;
  float: right;
}

/* line 55, ../scss/header.scss */
.side-nav-header {
  width: 188px;
  height: 50px;
  text-align: left;
}

/* line 61, ../scss/header.scss */
.side-nav-header-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 0px;
  background-color: #0099cc;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* line 71, ../scss/header.scss */
.side-nav-header-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../img/side-nav-header-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  -moz-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -ms-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
}
/* line 81, ../scss/header.scss */
.side-nav-header-btn:hover {
  cursor: pointer;
  background-color: #0099cc;
}
/* line 85, ../scss/header.scss */
.side-nav-header-btn.active:hover {
  background-image: url("../img/side-nav-header-btn-dark.png");
}

/* line 90, ../scss/header.scss */
.librexpo-title-wrapper {
  margin: 0;
  text-align: center;
}

/* line 95, ../scss/header.scss */
.librexpo-title {
  position: absolute;
  top: 0px;
  left: 50px;
  display: inline;
  text-align: left;
  padding: 0px 15px;
  margin: 0;
  font-size: 24px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  -moz-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -ms-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
}
/* line 108, ../scss/header.scss */
.librexpo-title:hover {
  background-color: #0099cc;
}
/* line 111, ../scss/header.scss */
.librexpo-title.active:hover {
  color: #069;
  background-color: transparent;
}

/* line 117, ../scss/header.scss */
.xpo {
  text-align: left;
}

/* line 121, ../scss/header.scss */
header ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 127, ../scss/header.scss */
header ul li {
  -moz-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -ms-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
}
/* line 129, ../scss/header.scss */
header ul li a {
  display: block;
  text-decoration: none;
  white-space: normal;
}
/* line 135, ../scss/header.scss */
header ul > li {
  float: left;
  text-align: left;
}
/* line 138, ../scss/header.scss */
header ul > li > a {
  color: white;
  display: block;
  font-size: 1.3em;
  line-height: 50px;
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 146, ../scss/header.scss */
header ul > li:hover {
  background-color: #0099cc;
}
/* line 149, ../scss/header.scss */
header ul > li.active > a {
  background-color: #0099cc;
  color: #069;
}
/* line 155, ../scss/header.scss */
header ul > a:hover {
  background-color: #0099cc;
}
/* line 158, ../scss/header.scss */
header ul > a.active {
  background-color: #0099cc;
  color: #069;
}

/* line 165, ../scss/header.scss */
.search-field-wrapper {
  height: 50px;
  line-height: 50px;
  width: 214px;
  font-size: 12px;
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 700;
  background-color: #0099cc;
}

/* line 177, ../scss/header.scss */
.search {
  width: 214px;
  height: 50px;
  overflow: hidden;
}
/* line 181, ../scss/header.scss */
.search .field {
  border: 0px;
  /*important*/
  background-color: #fff;
  /*important*/
  color: #069;
  margin: 15px 0px 15px 15px;
  padding: 0px 3px;
  width: 145px;
  height: 20px;
  float: left;
}
/* line 190, ../scss/header.scss */
.search .field:focus {
  outline-width: 0px;
}
/* line 194, ../scss/header.scss */
.search .background {
  position: absolute;
  right: -214px;
  height: 50px;
  line-height: 50px;
  width: 214px;
  font-size: 12px;
  background-color: #0099cc;
}
/* line 203, ../scss/header.scss */
.search .btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  background-image: url("../img/search-nav-btn-big-1.png");
  background-size: 20px 20px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  -moz-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -ms-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, background-image 400ms ease-in-out 0s;
}
/* line 213, ../scss/header.scss */
.search .btn:hover {
  background-color: #0099cc;
  cursor: pointer;
}

/* line 220, ../scss/header.scss */
.search-btn {
  border: 0px;
  /*important*/
  background-color: transparent;
  /*important*/
  padding: 6px 6px 6px 0px;
  float: right;
}

/* line 227, ../scss/header.scss */
.side-nav-wrapper {
  width: 188px;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  position: fixed;
  left: -188px;
  top: 0px;
  margin-top: 50px;
  padding-top: 15px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* line 240, ../scss/header.scss */
.side-nav-login {
  margin-top: 50px;
  width: 188px;
}
/* line 243, ../scss/header.scss */
.side-nav-login input {
  width: 158px;
  margin: 0px 15px;
  padding: 0px;
  border: 0px;
  /*important*/
  background-color: #09F;
  /*important*/
  color: #069;
}

/* line 253, ../scss/header.scss */
.Open-Sans-normal-700 {
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 700;
}

/* line 259, ../scss/header.scss */
.Open-Sans-normal-400 {
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 400;
}

/* line 265, ../scss/header.scss */
.Open-Sans-italic-300 {
  font-family: 'Open Sans' !important;
  font-style: italic;
  font-weight: 300;
}

/* line 119, ../scss/main.scss */
.ici-la-connection {
  position: fixed;
  margin-top: 50px;
  width: 188px;
  height: 188px;
  background-image: url("../img/cliquez-ici-pour-connecter.png");
}

/* line 127, ../scss/main.scss */
.main-align {
  background-color: transparent;
}
/* line 129, ../scss/main.scss */
.main-align.left {
  width: 188px;
  height: 50px;
}
/* line 132, ../scss/main.scss */
.main-align.right {
  width: 214px;
  height: 50px;
}

/* line 139, ../scss/main.scss */
.main.wrapper {
  text-align: center;
}
/* line 142, ../scss/main.scss */
.main.content {
  text-align: left;
  padding: 50px 0px 0px 15px;
  width: 575px;
}
/* line 147, ../scss/main.scss */
.main > article {
  padding: 15px;
  margin: 15px 15px 0px 0px;
  background-color: #FFF;
  float: left;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 153, ../scss/main.scss */
.main > article.widget {
  width: 146.66667px;
}

/* line 159, ../scss/main.scss */
.footer-container {
  float: left;
  padding-right: 15px;
}

/* line 164, ../scss/main.scss */
.right {
  float: right;
}

/* line 167, ../scss/main.scss */
.left {
  float: left;
}

/* ne pas oublier de mettre l'élément parent en text-align: center; */
/* line 172, ../scss/main.scss */
.center {
  margin: 0 auto !important;
  display: inline-block;
}

/* line 177, ../scss/main.scss */
.unselectable {
  -WEBKIT-USER-SELECT: NONE;
  /* SAFARI, CHROME */
  -KHTML-USER-SELECT: NONE;
  /* KONQUEROR */
  -MOZ-USER-SELECT: NONE;
  /* FIREFOX */
  -MS-USER-SELECT: NONE;
  /* IE */
  -o-user-select: NONE;
  USER-SELECT: NONE;
  /* CSS3 */
}

/* line 186, ../scss/main.scss */
.no-pm {
  padding: 0;
  margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 220, ../scss/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 228, ../scss/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 239, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 248, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 265, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 278, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 295, ../scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 300, ../scss/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 309, ../scss/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 336, ../scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 344, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 348, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 352, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 362, ../scss/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 367, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 372, ../scss/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 377, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 381, ../scss/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 391, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 397, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
