.main.wrapper {
	text-align: center;
	>main {
		text-align: left;
		padding: 50px 80px 0px 95px;
		overflow:hidden;
		height: 5000px;
		>article{
			display: inline;
			float: left;
			text-align: left;
			width: 268px;
		}
	}
}


.box{
	padding: 0px;
	margin: 15px 15px 0px 0px;
	background-color: #FFF;
	float: left;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s; 
	transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
<<<<<<< HEAD
}
=======
	img{
		width: 100%;
	}
	/*p{
		font-size: 0.5em;
	}
	.author{
		font-size: 0.4em;
	}*/
	p, h1{
		padding: 15px;
		text-align: justify;
	}

}

>>>>>>> pr/13
